.nav{
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    list-style: none;
    padding: 3px;
    margin-right: 5px;
}
.header{
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
}